{% macro character(id, char) -%}
<img src="/res/{{char.party}}.png" class="party-icon"> <a href="/characters/id/{{id}}.html">{{char.name}}</a>
{%- endmacro -%}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{bill.id}}: {{bill.effective_title}}</title>
      <link href="/main.css" rel="stylesheet">
      <link href="bill.css" rel="stylesheet">
    </head>
    <body>
      <main>
        <section class="dark">
          {% if bill.enacted %}<h3 class="centre">CHARLES III</h3>
          <img id="royal-seal" src="royalseal.gif">{% endif %}
          <h1>{{bill.effective_title}}</h1>
          {% if bill.enacted %}<h3 class="centre">{{bill.enacted[:4]}} CHAPTER {{bill.chapter}}</h3>{% endif %}
          <i class="centre">{{bill.effective_long_title}}</i>
        </section>
        <section id="data" class="dark">
          <table>
            <tr>
              <th>Bill ID</th><td>{{bill.id}}</td>
            </tr>
            <tr>
              <th>Author(s)</th>
              <td>
                {% set breaker = joiner("<br/>") -%}
                {% for id, author in bill.authors.items()|sort(attribute='name') -%}
                  {{breaker() -}}
                  <img src="/icons/{{author.party}}.png" class="party-icon"> <a href="/characters/id/{{id}}.html">{{author.fullname}}</a>
                {% endfor -%}
              </td>
            </tr>
            <tr>
              <th>First reading</th><td>{{bill.introduced}}</td>
            </tr>
            {% if bill.enacted %}
            <tr>
              <th>Royal assent</th><td>{{bill.enacted}}</td>
            </tr>
            {% endif %}
            <tr>
              <th>Affected legislation</th>
              {% if bill.amends -%}
              {% set breaker = joiner("<br/>") -%}
              <td>
                {% for leg in bill.amends -%}
                  {{ breaker() -}}
                  {% if leg.type == "uk" -%}
                    <a href="https://www.legislation.gov.uk/ukpga/{{leg.id}}">{{leg.title}}</a>
                  {% else -%}
                    <a href="https://xombp.neocities.org/legislation/{{leg.id|lower}}.html">{{leg.title}}</a>
                  {% endif -%}
                {% endfor -%}
              </td>
              {% else -%}
              <td>N/A</td>
              {% endif -%}
            </tr>
            {% if bill.amended_by -%}
            <tr>
              <th>Amended by</th>
              {% set breaker = joiner("<br/>") -%}
              <td>
                {% for leg in bill.amended_by -%}
                  {{ breaker() -}}
                  {% if leg.type == "uk" -%}
                    <a href="https://www.legislation.gov.uk/ukpga/{{leg.id}}">{{leg.title}}</a>
                  {% else -%}
                    <a href="https://xombp.neocities.org/legislation/{{leg.id|lower}}.html">{{leg.title}}</a>
                  {% endif -%}
                {% endfor -%}
              </td>
            </tr>
            {% endif -%}
          </table>
        </section>
        {% if bill.stages -%}
        <details open>
        <summary><h2 style="display: inline">Stages</h2></summary>
        <section id="stages">
          {% for stage in bill.stages.values() | reverse -%}
            <details>
            <summary><img src="/icons/{{stage.house}}.png" class="party-icon"> <strong>{{stage.date}}
            {% if stage.type == "first" -%}First reading
            {% elif stage.type == "second" -%}Second reading
            {% elif stage.type == "report" -%}Report stage
            {% elif stage.type == "third" -%}Third reading
            {% elif stage.type == "royal_assent" -%}Royal assent
            {% endif -%}</strong>
            </summary>
            {% if stage.divisions -%}
            {% for division in stage.divisions.values() -%}

            {# Add the details if there is more than one division#}
            {% if stage.divisions | length > 1 -%}
            <details><summary><h3>{{division.title}}</h3></summary>
            {% endif -%}
            
            {# Data for the divisions#}
            <h4>In favour</h4>
            {% if division.in_favour -%}
            <ul>
            {% for id, vote in division.in_favour.items() | sort(attribute="party") -%}
              <li>{{character(id, vote)}}</li>
            {% endfor -%}
            </ul>
            {% else -%}
            No votes in favour
            {% endif -%}

            {# Votes against #}
            <h4>Against</h4>
            {% if division.against -%}
            <ul>
            {% for id, vote in division.against.items() | sort(attribute="party") -%}
              <li>{{character(id, vote)}}</li>
            {% endfor -%}
            </ul>
            {% else -%}
            No votes against
            {% endif -%}

            {# Abstentions #}
            {% if division.abstentions -%}
            <h4>Abstentions</h4>
            <ul>
            {% for id, vote in division.against.items() | sort(attribute="party") -%}
              <li>{{character(id, vote)}}</li>
            {% endfor -%}
            </ul>
            {% endif -%}

            {% endfor -%}
            {% else %}
            No divisions available for this stage
            {% endif %}
            </details>
          {% endfor -%}
        </section>
        </details>
        {% endif -%}
        {% if bill.versions -%}
        <details open>
          <summary><h2 style="display: inline">Versions</h2></summary>
          {% for number, version in bill.versions.items() | reverse -%}
          <section>
            <details>
            <summary><strong>{{version.date}} {{ version.title }}</strong></summary>
            {{bill.enacting_formula}}
            {{ versions[version.id] }}
            </details>
          </section>
          {% endfor%}
        </details>
        {% endif %}

        {% if bill.amendments -%}
          <h2>Amendments</h2>
          {% for number, content in bill.amendments.items() %}
          <section>
          <details>
          <summary><strong>Amendment {{number|upper}}</strong></summary>
          <table>
            <tr>
              <th>Author(s)</th>
              <td>
                {% set breaker = joiner("<br/>") -%}
                {% for id, author in content.authors.items()|sort(attribute='name') -%}
                  {{breaker() -}}
                  <img src="/icons/{{author.party}}.png" class="party-icon"> <a href="/characters/id/{{id}}.html">{{author.name}}</a>
                {% endfor -%}
              </td>
            </tr>
          </table>
          {% if content.text %}
          {{content.text}}
          {% else %}
          No content present
          {% endif %}
          </details>
          </section>
          {% endfor %}
        {% endif -%}
      </main>
    </body>
</html>