<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{char.name}}</title>
      <link href="/style.css" rel="stylesheet" type="text/css" media="all">
      <link href="/characters/style.css" rel="stylesheet" type="text/css" media="all">
      <script src="/characters/script.js"></script>
    </head>
    <body>
        <main>
            <section id="infobox">
                {% if char.Prefix -%}
                <h3 class="center">{{char.Prefix}}</h3>
                {% endif -%}
                <h1>{{char.Name}}</h1>
                {% if char.Titles -%}
                <h1>{{char.Titles}}</h1>
                {% endif -%}
                {% if char.Honours or char['Player honours'] -%}
                <h3 class="smallcaps">{{char['Player honours']}} {{char.Honours}}</h3>
                {% endif %}
                {% if char.Suffix -%}
                <h3 class="center">{{ char.Suffix}}</h3>
                {% endif -%}
                {% if "Facesteal URL" in char -%}
                <img class="portrait" src="{{char["Facesteal URL"]}}">
                {% endif -%}
                <table>
                    <tr>
                        <th>Party</th>
                        <td>
                        {% set breaker = joiner("<br/>") -%}
                        {% for party in char.parties.values()|sort(attribute='start')|reverse -%}
                        {{ breaker() }}
                        ({{party.start}}-{% if party.end %}{{party.end}}{%else%}now{%endif%})
                        <a href="/parties/{{party.party}}.html">
                            <img src="/icons/{{party.party}}.png" class="party-icon">
                            {{parties[party.party].name}}
                        </a>
                        {% endfor -%}
                        </td>
                    </tr>
                </table>
            </section>
            <section id="biography">
            <h2>Biography</h2>
            </section>
        </main>
    </body>
</html>
    
