Division! Clear the {{what_to_clear}}!
🔔 *ding ding*

{{role}} Please vote on this post for {{division_title}} of **{{leg_id}}: {{leg_title}}**

The full text of the {{leg_type}}, as well as the debate surrounding it, can be found in {{house_chat}}