{{house_emote}} **{{bill['id']}}: {{bill['effective_title']}}**
*{{bill['effective_long_title']}}*

https://xombp.neocities.org/legislation/{{bill['id']|lower}}.html

{{party_emote}} **This bill was submitted by {{authors}}, {{submission_type}}**